users/troex/1c-imp/CommerceML_EN_2.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<cml:schema xmlns:cml="http://www.w3.org/2001/XMLSchema" version="2.04">
	<!-- This schema can be used to exchange:
·	product catalogs; 
·	business offers (price lists); 
·	business transaction documents:
Orders;
Invoices;
Sale of products;
Return of products;
Commission sales, returns and reports;
Cash payments;
Refunds;
Non-cash payment;
Non-cash refund.



-->
	<!-- Description of compound data -->
	<cml:complexType name="BankAddress">
		<cml:annotation>
			<cml:documentation>Used to specify the address of a contractor or any other business process unit</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="View" type="NameType">
				<cml:annotation>
					<cml:documentation>Specifies the address as a text string. For example: 21 Seleznevskaya st., Moscow</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Comment" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies an arbitrary comment, e.g. driving instructions.</cml:documentation>
				</cml:annotation>
				<cml:simpleType>
					<cml:restriction base="CommentType"/>
				</cml:simpleType>
			</cml:element>
			<cml:element name="AddressField" minOccurs="0" maxOccurs="10">
				<cml:annotation>
					<cml:documentation>Makes a distinct structure of address fields which allows to select entities by region, city etc.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Type" type="AddressType">
							<cml:annotation>
								<cml:documentation>Possible values: Zip, Country, Region, State, Town, City, Street, House, Builing, Flat</cml:documentation>
							</cml:annotation>
						</cml:element>
						<cml:element name="Value" type="StringType"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Bank">
		<cml:annotation>
			<cml:documentation>Serves to define banking details for performing transactions.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="CorrespondentAccount" type="AccountNumType" minOccurs="0"/>
			<cml:element name="ItemName" type="NameType" minOccurs="0"/>
			<cml:element name="BankAddress" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the bank address.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:complexContent>
						<cml:extension base="BankAddress"/>
					</cml:complexContent>
				</cml:complexType>
			</cml:element>
			<cml:element name="Contacts" type="ContactInfoType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains the possible communication means (phone, e-mail etc.)</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:sequence>
				<cml:choice>
					<cml:element name="BIK" type="BIKType">
						<cml:annotation>
							<cml:documentation>The bank’s identification code according to the "Registry of BIK of Russian Federation" </cml:documentation>
						</cml:annotation>
					</cml:element>
					<cml:element name="SWIFT" type="cml:string">
						<cml:annotation>
							<cml:documentation>The Swift code</cml:documentation>
						</cml:annotation>
					</cml:element>
				</cml:choice>
			</cml:sequence>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Group">
		<cml:annotation>
			<cml:documentation>Describes a product group in a catalog</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>The ID of a product group as specified in a classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="CommentType">
				<cml:annotation>
					<cml:documentation>The name of a product group.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Description" type="CommentType" minOccurs="0"/>
			<cml:element name="Properties" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains a collection of properties whose values can be specified in or required by products of a certain group, catalog, offer or document.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Property" type="Property" maxOccurs="unbounded"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="Groups" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains a description of nested product groups.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Group" type="Group" maxOccurs="unbounded"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="ExtraExpense">
		<cml:annotation>
			<cml:documentation>Specifies extra charges on a product item or the whole document (e.g. delivery, package etc.)</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="ItemName" type="NameType"/>
			<cml:element name="Amount" type="SumType"/>
			<cml:element name="Percent" type="RatioType" minOccurs="0"/>
			<cml:element name="InPrice" type="ToggleType" minOccurs="0"/>
			<cml:element name="Comment" type="CommentType" minOccurs="0"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="EntryValue">
		<cml:annotation>
			<cml:documentation>Specifies the value of a certain document property.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="ItemName" type="NameType"/>
			<cml:element name="Value" type="ValueType" maxOccurs="unbounded"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="PropertyValue">
		<cml:annotation>
			<cml:documentation>Specifies the value of an item property in a catalog, offer or document.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>The ID of a property in a classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="NameType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The name of a property.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Value" type="ValueType" maxOccurs="unbounded"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="ContactInfoType">
		<cml:annotation>
			<cml:documentation> Contains the possible communication means (phone, e-mail etc.)</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Contact" maxOccurs="unbounded">
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Type" type="ContactType">
							<cml:annotation>
								<cml:documentation>Possible values: InternalPhone, WorkPhone, MobilePhone, HomePhone, Pager, Fax, E-mail, ICQ, WebSite</cml:documentation>
							</cml:annotation>
						</cml:element>
						<cml:element name="Value" type="StringType">
							<cml:annotation>
								<cml:documentation>Specifies the contact information. For example, the work phone (095) 737-92-57</cml:documentation>
							</cml:annotation>
						</cml:element>
						<cml:element name="Comment" type="CommentType" minOccurs="0">
							<cml:annotation>
								<cml:documentation>An arbitrary comment.</cml:documentation>
							</cml:annotation>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Contractor">
		<cml:annotation>
			<cml:documentation>An all-purpose description of a business process unit (the contractor). Contains the details of a legal or natural contractor person.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies a globally unique ID of a contractor (the GUID is recommended).</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="NameType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contractor name.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:choice>
				<cml:group ref="LegalPersonTraits"/>
				<cml:group ref="NaturalPersonTraits"/>
			</cml:choice>
			<cml:element name="Comment" type="CommentType" minOccurs="0"/>
			<cml:element name="BankAddress" type="BankAddress" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The real address of a contractor.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Contacts" type="ContactInfoType" minOccurs="0">
				<cml:annotation>
					<cml:documentation> Contains the possible communication means (phone, e-mail etc.)</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Representatives" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains the description of the contractor representatives. For example: contact persons or a subsidiary.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Representative" maxOccurs="unbounded">
							<cml:complexType>
								<cml:complexContent>
									<cml:extension base="Contractor">
										<cml:sequence>
											<cml:element name="Relation" type="cml:string">
												<cml:annotation>
													<cml:documentation>Describes the relation between a representative and a contractor. For example: "ContactPerson", " Branch", "Head Office" etc.</cml:documentation>
												</cml:annotation>
											</cml:element>
										</cml:sequence>
									</cml:extension>
								</cml:complexContent>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Tax">
		<cml:annotation>
			<cml:documentation>Describes the tax type.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="ItemName" type="NameType">
				<cml:annotation>
					<cml:documentation>Tax name.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="InPrice" type="ToggleType" minOccurs="0"/>
			<cml:element name="Duty" type="ToggleType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>This flag specifies whether the tax is a duty.</cml:documentation>
				</cml:annotation>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Account">
		<cml:annotation>
			<cml:documentation>Specifies the contractor settlement account number.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="AccountNumber" type="AccountNumType">
				<cml:annotation>
					<cml:documentation>The account number.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Bank" type="Bank">
				<cml:annotation>
					<cml:documentation>The bank keeping the company’s or conractor’s account.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="CorrespondentBank" type="Bank" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The correspondent bank.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Comment" type="CommentType" minOccurs="0"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="ItemProperties">
		<cml:annotation>
			<cml:documentation>Defines the product properties. Product items with different properties can have different price.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="ItemProperty" maxOccurs="unbounded">
				<cml:complexType>
					<cml:sequence>
						<cml:element name="ItemName" type="NameType"/>
						<cml:element name="Value" type="ValueType"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Property">
		<cml:annotation>
			<cml:documentation>Describes the product property and its possible values.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>The property ID as it reads in the classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="NameType">
				<cml:annotation>
					<cml:documentation>The name of a property. </cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Description" type="CommentType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the property description.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Required" type="RequiredPropType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies whether a product property is required to be set in a catalog, offer or document.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Multiple" type="ToggleType" minOccurs="0"/>
			<cml:element name="ValueType" type="ValueTypeType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>One of the following types: String (default), Number,  DateTime.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ValueOptions" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains a collection of property value options. If options exist, the property value must be no other than one of these variants.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Value" type="ValueType" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>Specifies the property value variant.</cml:documentation>
							</cml:annotation>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:group ref="UsageOfProperty"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Discount">
		<cml:annotation>
			<cml:documentation>Specifies the discount value for a product item or/and the whole lot.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="ItemName" type="NameType"/>
			<cml:element name="Amount" type="SumType"/>
			<cml:element name="Percent" type="RatioType" minOccurs="0"/>
			<cml:element name="InPrice" type="ToggleType" minOccurs="0"/>
			<cml:element name="Comment" type="CommentType" minOccurs="0"/>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Storage">
		<cml:annotation>
			<cml:documentation>Defines the name and the ID of a storage (warehouse).</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>Specifies a globally unique ID of a contractor (the GUID is recommended). </cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="NameType">
				<cml:annotation>
					<cml:documentation>The name of a storage facility.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Comment" type="CommentType" minOccurs="0"/>
			<cml:element name="BankAddress" type="BankAddress" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The real address of a storage facility.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Contacts" type="ContactInfoType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains the possible communication means (phone, e-mail etc.)</cml:documentation>
				</cml:annotation>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="PriceType">
		<cml:annotation>
			<cml:documentation>Describes the price with the currency ID as defined in a catalog (unless defined previously).</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>Specifies the ID of a price type.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemName" type="NameType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The name of a price type.  For example: Wholesale, Retail. </cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Currency" type="CurrencyType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the currency ID as defined in ISO 4217.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Description" type="CommentType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the price description, additional conditions. For example: the dealer agreement.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Tax" minOccurs="0" maxOccurs="unbounded">
				<cml:annotation>
					<cml:documentation>Specifies the tax type and the method of calculation of the final price.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:complexContent>
						<cml:extension base="Tax"/>
					</cml:complexContent>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<cml:complexType name="Item">
		<cml:annotation>
			<cml:documentation>Describes a product item in a catalog.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:group ref="ProductItemID"/>
			<cml:element name="ItemName" type="NameType">
				<cml:annotation>
					<cml:documentation>The product name.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="BaseUnit">
				<cml:annotation>
					<cml:documentation>The name of the base unit of measurement for a product. The documents and offers may user other units; however, the conversion factor must be provided in that case.</cml:documentation>
				</cml:annotation>
				<cml:complexType mixed="true">
					<cml:sequence minOccurs="0">
						<cml:element name="Conversion" minOccurs="0" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>Declares the methods of conversion to different units of measurement. These methods ought to be used if the base units of the same products diverge.</cml:documentation>
							</cml:annotation>
							<cml:complexType>
								<cml:sequence>
									<cml:group ref="UnitOfMeasure"/>
								</cml:sequence>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
					<cml:attribute name="Code" type="String3" use="optional"/>
					<cml:attribute name="FullName" type="StringType" use="optional"/>
					<cml:attribute name="InternationalAbbr" type="String3" use="optional"/>
				</cml:complexType>
			</cml:element>
			<cml:element name="ContractorItemID" type="GlobalIDType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The ID of a product in the contractor’s system.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Groups" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains the ID’s of groups that comprise the product in a specified classifier. This element can be omitted if no classifier is specified.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Id" type="GlobalIDType" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>The ID of a product group in a classifier.</cml:documentation>
							</cml:annotation>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="Description" type="StringType" minOccurs="0"/>
			<cml:element name="Image" type="FileNameType" minOccurs="0" maxOccurs="unbounded">
				<cml:annotation>
					<cml:documentation>The name of an image file for a product. Images can be supplied in separate files.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:group ref="Producer" minOccurs="0"/>
			<cml:element name="PropertiesValues" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Declares the values of the article properties according to a specified classifier. This element can be omitted if no classifier is specified.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="TaxRates" minOccurs="0">
				<cml:complexType>
					<cml:sequence>
						<cml:element name="TaxRate" maxOccurs="unbounded">
							<cml:complexType>
								<cml:sequence>
									<cml:element name="ItemName" type="StringType">
										<cml:annotation>
											<cml:documentation>The tax name.</cml:documentation>
										</cml:annotation>
									</cml:element>
									<cml:element name="Rate" type="RatioType">
										<cml:annotation>
											<cml:documentation>Specifies the tax rate, in percentage.</cml:documentation>
										</cml:annotation>
									</cml:element>
								</cml:sequence>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="Duties" minOccurs="0">
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Duty" maxOccurs="unbounded">
							<cml:complexType>
								<cml:sequence>
									<cml:element name="ItemName" type="NameType">
										<cml:annotation>
											<cml:documentation>The type of an excise tax. </cml:documentation>
										</cml:annotation>
									</cml:element>
									<cml:element name="Amount3PerUnit" type="SumType">
										<cml:annotation>
											<cml:documentation>Amount of an excise tax per (base) product unit.</cml:documentation>
										</cml:annotation>
									</cml:element>
									<cml:element name="Currency" type="CurrencyType">
										<cml:annotation>
											<cml:documentation>The currency code according to ISO 4217.</cml:documentation>
										</cml:annotation>
									</cml:element>
								</cml:sequence>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="Accessories" minOccurs="0">
				<cml:annotation>
					<cml:documentation>This element is for items that can have component or supplementary parts.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Accessory" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>The elements of the «Product» type define the accessories for other products.</cml:documentation>
							</cml:annotation>
							<cml:complexType>
								<cml:complexContent>
									<cml:extension base="Item">
										<cml:sequence>
											<cml:element name="CatalogID" type="GlobalIDType" minOccurs="0">
												<cml:annotation>
													<cml:documentation>The catalog ID</cml:documentation>
												</cml:annotation>
											</cml:element>
											<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
												<cml:annotation>
													<cml:documentation>The ID of a classifier that is used to declare an accessory.</cml:documentation>
												</cml:annotation>
											</cml:element>
											<cml:element name="Quantity" type="QuantityType"/>
										</cml:sequence>
									</cml:extension>
								</cml:complexContent>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="Substitutes" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Defines the analogous products. For example: another medicine that can be used in place of a required medication.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Substitute" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>The elements of the «Product» type define analogous products (e.g. in another catalog).</cml:documentation>
							</cml:annotation>
							<cml:complexType>
								<cml:complexContent>
									<cml:extension base="Item">
										<cml:sequence>
											<cml:element name="CatalogID" type="GlobalIDType" minOccurs="0">
												<cml:annotation>
													<cml:documentation>The catalog ID.</cml:documentation>
												</cml:annotation>
											</cml:element>
											<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
												<cml:annotation>
													<cml:documentation>The ID of a classifier that is used to define the a substitute item.</cml:documentation>
												</cml:annotation>
											</cml:element>
										</cml:sequence>
									</cml:extension>
								</cml:complexContent>
							</cml:complexType>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="ItemProperties" type="ItemProperties" minOccurs="0"/>
			<cml:element name="PropertiesValues" minOccurs="0">
				<cml:complexType>
					<cml:sequence>
						<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded">
							<cml:annotation>
								<cml:documentation>Specifies the additional values of an item property.</cml:documentation>
							</cml:annotation>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
		<cml:attribute name="Status" type="StatusType" use="optional"/>
	</cml:complexType>
	<cml:complexType name="Price">
		<cml:annotation>
			<cml:documentation>The price of the listed product.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="View" type="NameType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the price as it reads in the price list. For example: USD 10 per 1000 pcs.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="PriceTypeID" type="GlobalIDType">
				<cml:annotation>
					<cml:documentation>The ID of the price type.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ItemPrice" type="SumType">
				<cml:annotation>
					<cml:documentation>The product item price.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Currency" type="CurrencyType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the currency code according to ISO 4217. If the code is not provided, the currency assigned to a given price type is used.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:group ref="UnitOfMeasure" minOccurs="0"/>
			<cml:element name="MinQuantity" type="QuantityType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the minimum quantity of the product items for which the price is set.</cml:documentation>
				</cml:annotation>
			</cml:element>
		</cml:sequence>
	</cml:complexType>
	<!-- Declaration of groups of elements -->
	<cml:group name="UnitOfMeasure">
		<cml:annotation>
			<cml:documentation>Declares the unit of measurement of a product, and the conversion factor to calculate the quantity in the base unit. The base unit is used if this value is not specified.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Unit" type="UnitType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The name of the unit of measurement.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Ratio" type="RatioType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The conversion factor to calculate the quantity in the base unit.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="ExtraInfo" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Supplies additional information about the unit.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:group>
	<cml:group name="UsageOfProperty">
		<cml:annotation>
			<cml:documentation>Defines the use directions for the property.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:choice>
				<cml:annotation>
					<cml:documentation>Denotes that at lease one mode of use must be specified.</cml:documentation>
				</cml:annotation>
				<cml:element name="ForProducts" type="ToggleType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The property can (or has to) be used to describe products in a catalog, offer or document</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ForOffers" type="ToggleType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The property can (or has to) be used to describe products in an offer. For example: warranty period, method of delivery.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ForDocuments" type="ToggleType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The property can (or has to) be used to describe products in a document. For example: serial number.</cml:documentation>
					</cml:annotation>
				</cml:element>
			</cml:choice>
		</cml:sequence>
	</cml:group>
	<cml:group name="NaturalPersonTraits">
		<cml:annotation>
			<cml:documentation>Contains the description of the contractor’s traits specific for natural persons.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="FullTitle" type="NameType">
				<cml:annotation>
					<cml:documentation>The full name of a natural person. This can include a salutation and a suffix.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Salutation" type="SalutationType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Example: Mr., Mrs., Dr. etc.   </cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="LastName" type="StringType" minOccurs="0"/>
			<cml:element name="FirstName" type="StringType" minOccurs="0"/>
			<cml:element name="SecondName" type="StringType" minOccurs="0"/>
			<cml:element name="DateOfBirth" type="DateType" minOccurs="0"/>
			<cml:element name="BirthPlace" type="BankAddress" minOccurs="0"/>
			<cml:element name="Sex" type="SexType" minOccurs="0"/>
			<cml:element name="INN" type="INNType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the tax payer ID.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="KPP" type="KPPType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of reason for registration.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="PersonalIdentity" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Defines a document that acts as the personal ID.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="TypeOfPersonalID" type="StringType">
							<cml:annotation>
								<cml:documentation> The kind of a person’s ID document. Example: passport.</cml:documentation>
							</cml:annotation>
						</cml:element>
						<cml:element name="IssueOfID" type="StringType" minOccurs="0"/>
						<cml:element name="Number" type="NumberType"/>
						<cml:element name="IssueDate" type="DateType"/>
						<cml:element name="IssuedBy" type="NameType">
							<cml:annotation>
								<cml:documentation>Authority that issued the document.</cml:documentation>
							</cml:annotation>
						</cml:element>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
			<cml:element name="RegistrationAddress" type="BankAddress" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The address of registration of a natural person.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:group ref="PlaceOfEmployment" minOccurs="0"/>
		</cml:sequence>
	</cml:group>
	<cml:group name="LegalPersonTraits">
		<cml:annotation>
			<cml:documentation>Contains the description of the contractor traits specific to a legal person (company).</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="OfficialName" type="NameType">
				<cml:annotation>
					<cml:documentation>The official title of a legal person (company) according to the constituent papers.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="LegalAddress" type="BankAddress" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The contractor’s legal address.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="INN" type="INNType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the tax payer ID.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="KPP" type="KPPType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of reason for registration.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="PrimaryActivity" type="NameType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The primary activity according to the constituent papers.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="EGRPO" type="EGRPOType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code according to the State Registry of Organizations.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="OKVED" type="OKVEDType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The industry code according to the Industry Classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="OKDP" type="OKDPType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of the primary activity according to the Industry and Product Classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="OKOPF" type="OKOPFType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of the legal form according to the Legal Form Classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="OKFS" type="OKFSType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of pattern of ownership according to the Ownership Classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="OKPO" type="OKPOType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The code of the company according to the Enterprise Classifier.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="DayOfEntry" type="DateType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The date the company was registered.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="CompanyExecutive" type="Contractor" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The chief executive of the company.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Accounts" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Contains the description of the company’s settlement accounts.</cml:documentation>
				</cml:annotation>
				<cml:complexType>
					<cml:sequence>
						<cml:element name="Account" type="Account" maxOccurs="unbounded"/>
					</cml:sequence>
				</cml:complexType>
			</cml:element>
		</cml:sequence>
	</cml:group>
	<cml:group name="PlaceOfEmployment">
		<cml:annotation>
			<cml:documentation>Contains the description of the person’s place of employment and position.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Company" type="Contractor" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The company description can be empty if a natural person is a company’s representative.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Position" type="StringType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the job position.</cml:documentation>
				</cml:annotation>
			</cml:element>
		</cml:sequence>
	</cml:group>
	<cml:group name="Producer">
		<cml:annotation>
			<cml:documentation>Describes the country of origin, the producer and the trade mark of a product.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Country" type="StringType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The title of the country of origin.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="TradeMark" type="StringType" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the trade mark of a product.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="TradeMarkOwner" type="Contractor" minOccurs="0">
				<cml:annotation>
					<cml:documentation>Specifies the owner of the trade mark.</cml:documentation>
				</cml:annotation>
			</cml:element>
			<cml:element name="Manufacturer" type="Contractor" minOccurs="0">
				<cml:annotation>
					<cml:documentation>The title of a product manufacturer.</cml:documentation>
				</cml:annotation>
			</cml:element>
		</cml:sequence>
	</cml:group>
	<cml:group name="ProductItemID">
		<cml:annotation>
			<cml:documentation>A product can be identified by an arbitrary ID (e.g. a GUID or internal), BarCode, ProductCode. Contractors may use any possible ID of their choice.</cml:documentation>
		</cml:annotation>
		<cml:sequence>
			<cml:element name="Id" type="ID80" minOccurs="0"/>
			<cml:element name="BarCode" type="BarCodeType" minOccurs="0"/>
			<cml:element name="ProductCode" type="ProductCodeType" minOccurs="0"/>
		</cml:sequence>
	</cml:group>
	<!-- Description of global elements -->
	<cml:element name="CommerceInformation">
		<cml:annotation>
			<cml:documentation>The container root element that encloses all the exchange information.</cml:documentation>
		</cml:annotation>
		<cml:complexType>
			<cml:sequence>
				<cml:element ref="Classifier" minOccurs="0"/>
				<cml:choice>
					<cml:element ref="Catalog" minOccurs="0"/>
					<cml:element ref="OfferPackage" minOccurs="0"/>
					<cml:element ref="Document" minOccurs="0" maxOccurs="unbounded"/>
				</cml:choice>
			</cml:sequence>
			<cml:attribute name="SchemaVersion" type="cml:string" use="required"/>
			<cml:attribute name="CreationDate" type="DateTimeType" use="required"/>
		</cml:complexType>
	</cml:element>
	<cml:element name="Catalog">
		<cml:annotation>
			<cml:documentation>The product catalog can be contains items produced by one or more manufacturers. Each catalog has an owner. Product descriptions can be created according to a classifier.</cml:documentation>
		</cml:annotation>
		<cml:complexType>
			<cml:sequence>
				<cml:element name="Id" type="GlobalIDType">
					<cml:annotation>
						<cml:documentation>A globally unique catalog ID (GUID is recommended)</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The ID of a classifier used to describe products.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ItemName" type="NameType">
					<cml:annotation>
						<cml:documentation>Specifies the name of the catalog.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Owner" type="Contractor">
					<cml:annotation>
						<cml:documentation>The "Contractor" type element. Serves to define the catalog owner. </cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Items">
					<cml:annotation>
						<cml:documentation/>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Item" type="Item" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Description" type="CommentType" minOccurs="0"/>
			</cml:sequence>
			<cml:attribute name="ContainsChangesOnly" type="ToggleType" use="optional"/>
		</cml:complexType>
	</cml:element>
	<cml:element name="OfferPackage">
		<cml:annotation>
			<cml:documentation>Contains the business offers. An offer pack is created for only one catalog. The offers within a pack can be described using a classifier.</cml:documentation>
		</cml:annotation>
		<cml:complexType>
			<cml:sequence>
				<cml:element name="Id" type="GlobalIDType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The ID of an offer pack.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ItemName" type="NameType">
					<cml:annotation>
						<cml:documentation>The name of an offer pack. Example: "Exclusive Offers of Spare Parts "</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="CatalogID" type="GlobalIDType">
					<cml:annotation>
						<cml:documentation>The ID of a product catalog whose items are included in an offer pack.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The ID of a classifier used to describe offers.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ValidFrom" type="DateType" minOccurs="0"/>
				<cml:element name="ValidTill" type="DateType" minOccurs="0"/>
				<cml:element name="Description" type="CommentType" minOccurs="0"/>
				<cml:element name="Owner" type="Contractor">
					<cml:annotation>
						<cml:documentation>Identifies the offer pack owner. The value must be an unique value (e.g. GUID). </cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="PriceTypes">
					<cml:annotation>
						<cml:documentation>Describes prices that can be used in an offer pack.</cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
								<cml:annotation>
									<cml:documentation>The ID of a classifier used to describe product prices.</cml:documentation>
								</cml:annotation>
							</cml:element>
							<cml:element name="PriceType" type="PriceType" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="PropertiesValues" minOccurs="0">
					<cml:annotation>
						<cml:documentation>The values of properties that affect all offers in a pack. Example: method of delivery, warranty period etc. </cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Offers">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Offer" maxOccurs="unbounded">
								<cml:complexType>
									<cml:complexContent>
										<cml:extension base="Item">
											<cml:sequence>
												<cml:element name="Prices">
													<cml:complexType>
														<cml:sequence>
															<cml:element name="Price" type="Price" maxOccurs="unbounded"/>
														</cml:sequence>
													</cml:complexType>
												</cml:element>
												<cml:element name="Quantity" type="QuantityType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>Quantity of product. For example, this can be the number of product items currently in stock.</cml:documentation>
													</cml:annotation>
												</cml:element>
											</cml:sequence>
										</cml:extension>
									</cml:complexContent>
								</cml:complexType>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
			</cml:sequence>
			<cml:attribute name="ContainsChangesOnly" type="ToggleType" use="optional"/>
		</cml:complexType>
	</cml:element>
	<cml:element name="Document">
		<cml:annotation>
			<cml:documentation>This element defines the business transaction; the transaction details and the company’s transaction role.</cml:documentation>
		</cml:annotation>
		<cml:complexType>
			<cml:sequence>
				<cml:element name="Id" type="GlobalIDType">
					<cml:annotation>
						<cml:documentation>The ID of a document unique within an exchange file.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Number" type="NumberType"/>
				<cml:element name="Date" type="DateType">
					<cml:annotation>
						<cml:documentation>Specifies the document date.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="BusinessTransaction" type="BusinessTransactionType">
					<cml:annotation>
						<cml:documentation>Possible values: ItemOrder;
Invoice for payment;
Sale of product;
Invoice;
Product return;
Sale by comission;
Comission product return;
Comission sales report;
Cash payment;
Refund;
Non-cash payment;
Non-cash refund;
Other.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Role" type="RoleType">
					<cml:annotation>
						<cml:documentation>Specifies the role of a company as read in a document. Possible values: Seller; Buyer; Payer; Recipient.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Currency" type="CurrencyType">
					<cml:annotation>
						<cml:documentation>The currency code as specified in ISO 4217.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="CurrencyRate" type="RatioType">
					<cml:annotation>
						<cml:documentation>Defines the rate of a specified currency to the national currency. The rate of the latter is 1. </cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Amount" type="SumType">
					<cml:annotation>
						<cml:documentation>Specifies the total amount under a document. Taxes, discounts and extra expenses may be included in the amount which is indicated by the "InPrice" values.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Contractors">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Contractor" maxOccurs="unbounded">
								<cml:complexType>
									<cml:complexContent>
										<cml:extension base="Contractor">
											<cml:sequence>
												<cml:element name="Role" type="RoleType">
													<cml:annotation>
														<cml:documentation>Possible values: Seller; Buyer; Payer; Recipient; Committent; Agent.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="Account" type="Account" minOccurs="0">
													<cml:annotation>
														<cml:documentation>This element describes the properties of a contractor’s settlement banking account.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="Storage" type="Storage" minOccurs="0">
													<cml:annotation>
														<cml:documentation>This element contains information about the storage which is necessary to prepare and send documents.</cml:documentation>
													</cml:annotation>
												</cml:element>
											</cml:sequence>
										</cml:extension>
									</cml:complexContent>
								</cml:complexType>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Time" type="TimeType" minOccurs="0"/>
				<cml:element name="DateOfPayment" type="DateType" minOccurs="0"/>
				<cml:element name="Comment" type="CommentType" minOccurs="0"/>
				<cml:element name="Taxes" minOccurs="0">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Tax" maxOccurs="unbounded">
								<cml:annotation>
									<cml:documentation>Specifies the type, the rate and the total amount of a tax.</cml:documentation>
								</cml:annotation>
								<cml:complexType>
									<cml:complexContent>
										<cml:extension base="Tax">
											<cml:sequence>
												<cml:element name="Amount" type="SumType"/>
												<cml:element name="Rate" type="RatioType" minOccurs="0"/>
											</cml:sequence>
										</cml:extension>
									</cml:complexContent>
								</cml:complexType>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Discounts" minOccurs="0">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Discount" type="Discount" maxOccurs="unbounded">
								<cml:annotation>
									<cml:documentation>Discount, amount, percentage.</cml:documentation>
								</cml:annotation>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="ExtraExpenses" minOccurs="0">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="ExtraExpense" type="ExtraExpense" maxOccurs="unbounded">
								<cml:annotation>
									<cml:documentation>Extra expense, amount, percentage.</cml:documentation>
								</cml:annotation>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Items" minOccurs="0">
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Item" maxOccurs="unbounded">
								<cml:annotation>
									<cml:documentation> This element contains information about a product item which is necessary to prepare and send documents.</cml:documentation>
								</cml:annotation>
								<cml:complexType>
									<cml:complexContent>
										<cml:extension base="Item">
											<cml:sequence>
												<cml:element name="CatalogID" type="GlobalIDType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>The product catalogue ID. </cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="ClassifierID" type="GlobalIDType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>The ID of a classifier which is used to describe a product in a document.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="ItemPrice" type="SumType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>The price of a product item.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="Quantity" type="QuantityType" minOccurs="0"/>
												<cml:element name="Amount" type="SumType" minOccurs="0"/>
												<cml:group ref="UnitOfMeasure" minOccurs="0"/>
												<cml:element name="CountryOfOrigin" type="StringType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>Specifies the title of the country of origin of imported product, according to the customs declaration.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="CustomsDeclaration" type="StringType" minOccurs="0">
													<cml:annotation>
														<cml:documentation>The number of the customs declaration.</cml:documentation>
													</cml:annotation>
												</cml:element>
												<cml:element name="Taxes" minOccurs="0">
													<cml:complexType>
														<cml:sequence>
															<cml:element name="Tax" maxOccurs="unbounded">
																<cml:annotation>
																	<cml:documentation>The type, the rate and the amount of tax.</cml:documentation>
																</cml:annotation>
																<cml:complexType>
																	<cml:complexContent>
																		<cml:extension base="Tax">
																			<cml:sequence>
																				<cml:element name="Amount" type="SumType"/>
																				<cml:element name="Rate" type="RatioType" minOccurs="0"/>
																			</cml:sequence>
																		</cml:extension>
																	</cml:complexContent>
																</cml:complexType>
															</cml:element>
														</cml:sequence>
													</cml:complexType>
												</cml:element>
												<cml:element name="Discounts" minOccurs="0">
													<cml:complexType>
														<cml:sequence>
															<cml:element name="Discount" maxOccurs="unbounded">
																<cml:annotation>
																	<cml:documentation>Discount, amount, percentage.</cml:documentation>
																</cml:annotation>
																<cml:complexType>
																	<cml:complexContent>
																		<cml:extension base="Discount"/>
																	</cml:complexContent>
																</cml:complexType>
															</cml:element>
														</cml:sequence>
													</cml:complexType>
												</cml:element>
												<cml:element name="ExtraExpenses" minOccurs="0">
													<cml:complexType>
														<cml:sequence>
															<cml:element name="ExtraExpense" type="ExtraExpense" maxOccurs="unbounded">
																<cml:annotation>
																	<cml:documentation> Extra expense, amount, percentage.</cml:documentation>
																</cml:annotation>
															</cml:element>
														</cml:sequence>
													</cml:complexType>
												</cml:element>
												<cml:element name="AdditionalDocEntries" minOccurs="0">
													<cml:annotation>
														<cml:documentation>Contains the description of additional product properties for this type of document.</cml:documentation>
													</cml:annotation>
													<cml:complexType>
														<cml:sequence>
															<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded"/>
														</cml:sequence>
													</cml:complexType>
												</cml:element>
											</cml:sequence>
										</cml:extension>
									</cml:complexContent>
								</cml:complexType>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="PropertiesValues" minOccurs="0">
					<cml:annotation>
						<cml:documentation> Contains the description of additional document entries.</cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="PropertyValue" type="PropertyValue" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
			</cml:sequence>
		</cml:complexType>
	</cml:element>
	<cml:element name="Classifier">
		<cml:annotation>
			<cml:documentation>Contains elements to describe the classification of products.</cml:documentation>
		</cml:annotation>
		<cml:complexType>
			<cml:sequence>
				<cml:element name="Id" type="GlobalIDType">
					<cml:annotation>
						<cml:documentation>The ID of a product classifier.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="ItemName" type="NameType">
					<cml:annotation>
						<cml:documentation>The name of product classifier.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Owner" type="Contractor">
					<cml:annotation>
						<cml:documentation>An element of the "Contractor" type. Serves to define an owner of this classifier.</cml:documentation>
					</cml:annotation>
				</cml:element>
				<cml:element name="Description" type="CommentType" minOccurs="0"/>
				<cml:element name="Groups" minOccurs="0">
					<cml:annotation>
						<cml:documentation>Defines the hierarchical structure of the classifier groups.</cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Group" type="Group" maxOccurs="unbounded">
								<cml:annotation>
									<cml:documentation>Groups are used to define product categories. Any group can contain an unlimited number of nested groups.</cml:documentation>
								</cml:annotation>
							</cml:element>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="Properties" minOccurs="0">
					<cml:annotation>
						<cml:documentation>Contains a collection of properties whose values can or must be defined for ALL products in a catalogue, offer or document</cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="Property" type="Property" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
				<cml:element name="PriceTypes" minOccurs="0">
					<cml:annotation>
						<cml:documentation>Defines the price types which can be used to build a business offer pack.</cml:documentation>
					</cml:annotation>
					<cml:complexType>
						<cml:sequence>
							<cml:element name="PriceType" type="PriceType" maxOccurs="unbounded"/>
						</cml:sequence>
					</cml:complexType>
				</cml:element>
			</cml:sequence>
		</cml:complexType>
	</cml:element>
	<cml:simpleType name="AccountNumType">
		<cml:annotation>
			<cml:documentation>Specifies the account number.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:length value="20"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="CommentType">
		<cml:annotation>
			<cml:documentation>Specifies an arbitrary comment (notes, description etc.)</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="3000"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="BIKType">
		<cml:annotation>
			<cml:documentation>Specifies the banking identification code (BIK) according to the Russian BIK Reference.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:length value="9"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="NameType">
		<cml:annotation>
			<cml:documentation>Specifies the contractor’s name, the product description and any additional information.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="250"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="DateType">
		<cml:annotation>
			<cml:documentation>Date format.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:date"/>
	</cml:simpleType>
	<cml:simpleType name="TimeType">
		<cml:annotation>
			<cml:documentation>Time format.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:time"/>
	</cml:simpleType>
	<cml:simpleType name="ContactType">
		<cml:annotation>
			<cml:documentation>Specifies the means of communication to contact the contractor.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="100"/>
			<cml:enumeration value="Internal number"/>
			<cml:enumeration value="Work phone"/>
			<cml:enumeration value="Mobile phone"/>
			<cml:enumeration value="Home phone"/>
			<cml:enumeration value="Pager"/>
			<cml:enumeration value="Fax"/>
			<cml:enumeration value="Mail"/>
			<cml:enumeration value="ICQ"/>
			<cml:enumeration value="Web site"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="AddressType">
		<cml:annotation>
			<cml:documentation>Postal address.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="Zip"/>
			<cml:enumeration value="Country"/>
			<cml:enumeration value="Region"/>
			<cml:enumeration value="State"/>
			<cml:enumeration value="Town"/>
			<cml:enumeration value="City"/>
			<cml:enumeration value="Street"/>
			<cml:enumeration value="House"/>
			<cml:enumeration value="Building"/>
			<cml:enumeration value="Flat"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="StatusType">
		<cml:annotation>
			<cml:documentation>Defines the product status.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="New"/>
			<cml:enumeration value="Modified"/>
			<cml:enumeration value="Deleted"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="INNType">
		<cml:annotation>
			<cml:documentation>Specifies the tax payer ID. The Russian ID’s contain 10 digits for the natural persons and 12 for the legal persons.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="10"/>
			<cml:maxLength value="12"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="KPPType">
		<cml:annotation>
			<cml:documentation> The code of reason for registration.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:length value="9"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="IDType">
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="20"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="SumType">
		<cml:annotation>
			<cml:documentation>Specifies the numeric amount. The dot is used to separate the integer and fractional parts.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:decimal">
			<cml:totalDigits value="18"/>
			<cml:fractionDigits value="2"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="GlobalIDType">
		<cml:annotation>
			<cml:documentation>A unique identifier (GUID is recommended).</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="40"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="ToggleType">
		<cml:annotation>
			<cml:documentation>Specifies the Boolean values (yes / no, 0 / 1, true / false).</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:boolean"/>
	</cml:simpleType>
	<cml:simpleType name="RequiredPropType">
		<cml:annotation>
			<cml:documentation>Defines whether a product property must have a value in a catalog, offer or document.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="For catalogs"/>
			<cml:enumeration value="For documents"/>
			<cml:enumeration value="For offers"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="ValueTypeType">
		<cml:annotation>
			<cml:documentation>Defines the property type.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="String"/>
			<cml:enumeration value="Number"/>
			<cml:enumeration value="Time"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="CurrencyType">
		<cml:annotation>
			<cml:documentation> Specifies the currency code according to ISO 4217. If the code is not provided, the currency assigned to a given price type is used.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:length value="3"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="EGRPOType">
		<cml:annotation>
			<cml:documentation>The type as specified in Russian Universal State Registry of Enterprises.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="QuantityType">
		<cml:annotation>
			<cml:documentation>Numeric information</cml:documentation>
		</cml:annotation>		
		<cml:restriction base="cml:decimal"/>
	</cml:simpleType>
	<cml:simpleType name="RatioType">
		<cml:annotation>
			<cml:documentation>The value is a rate (e.g. conversion factor), percentage.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="NumberType">
		<cml:annotation>
			<cml:documentation>The number (e.g. of a document).</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="SalutationType">
		<cml:annotation>
			<cml:documentation>Defines possible salutations (Mr., Mrs etc.)</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:enumeration value=""/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="SWIFTType">
		<cml:annotation>
			<cml:documentation>Specifies the SWIFT code.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="OKVEDType">
		<cml:annotation>
			<cml:documentation> The industry code according to the Industry Classifier.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="OKOPFType">
		<cml:annotation>
			<cml:documentation>The code of the legal form according to the Legal Form Classifier.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="OKPOType">
		<cml:annotation>
			<cml:documentation>The code of the company according to the Enterprise Classifier.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="OKFSType">
		<cml:annotation>
			<cml:documentation>The code of pattern of ownership according to the Ownership Classifier.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="SexType">
		<cml:annotation>
			<cml:documentation>Defines the sex type (Male, Female).</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="M"/>
			<cml:enumeration value="F"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="RoleType">
		<cml:annotation>
			<cml:documentation>Specifies the role of an exchange party.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="Seller"/>
			<cml:enumeration value="Buyer"/>
			<cml:enumeration value="Payer"/>
			<cml:enumeration value="Recipient"/>
			<cml:enumeration value="Committent"/>
			<cml:enumeration value="Agent"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="StringType">
		<cml:annotation>
			<cml:documentation>The string type.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="BarCodeType">
		<cml:annotation>
			<cml:documentation>The product barcode (EAN/UPC).</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="8"/>
			<cml:maxLength value="14"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="ProductCodeType">
		<cml:annotation>
			<cml:documentation>Specifies the code of a product or article.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="UnitType">
		<cml:annotation>
			<cml:documentation>The unit of measurement type.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="BusinessTransactionType">
		<cml:annotation>
			<cml:documentation>Defines a business transation.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:enumeration value="ItemOrder"/>
			<cml:enumeration value="Invoice for payment"/>
			<cml:enumeration value="Sale of product"/>
			<cml:enumeration value="Invoice"/>
			<cml:enumeration value="Product return"/>
			<cml:enumeration value="Sale by comission"/>
			<cml:enumeration value="Comission product return"/>
			<cml:enumeration value="Comission sales report"/>
			<cml:enumeration value="Cash payment"/>
			<cml:enumeration value="Refund"/>
			<cml:enumeration value="Non-cash payment"/>
			<cml:enumeration value="Non-cash refund"/>
			<cml:enumeration value="Repricing of products"/>
			<cml:enumeration value="Other"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="FileNameType">
		<cml:annotation>
			<cml:documentation>The file name type.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="OKDPType">
		<cml:annotation>
			<cml:documentation>The code of the primary activity according to the Industry and Product Classifier.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
	<cml:simpleType name="DateTimeType">
		<cml:annotation>
			<cml:documentation>Defines date and time.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:dateTime"/>
	</cml:simpleType>
	<cml:simpleType name="ValueType">
		<cml:annotation>
			<cml:documentation>String of up to 1000 characters to define a document entity.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="1000"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="ID80">
		<cml:annotation>
			<cml:documentation>The group ID’s; product classifier properties; price types in classifiers, documents in exchange files.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:maxLength value="80"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="String3">
		<cml:annotation>
			<cml:documentation>The string length.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string">
			<cml:minLength value="1"/>
			<cml:maxLength value="3"/>
		</cml:restriction>
	</cml:simpleType>
	<cml:simpleType name="ActivityType">
		<cml:annotation>
			<cml:documentation> The primary activity according to the constituent papers.</cml:documentation>
		</cml:annotation>
		<cml:restriction base="cml:string"/>
	</cml:simpleType>
</cml:schema>
